<table class="table table-striped table-hover clearfix">
    <thead>
    <tr>
        <th>Driver</th>
        <th>From</th>
        <th>To</th>
        <th>Departure Time</th>
        <th ng-show="isAuthorized">Is Mine</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="trip in trips | filter: usernameFilter">
        <td>{{ trip.driverName }}</td>
        <td>{{ trip.from }}</td>
        <td>{{ trip.to }}</td>
        <td>{{ trip.departureDate | date :'MM/dd/yyyy @ h:mma' }}</td>
        <td ng-show="isAuthorized">
            <span class="label label-success" ng-show='{{ trip.isMine | isMineFilter}}'>Yes</span>
        </td>
    </tr>
    </tbody>
</table>

